@charset "UTF-8";
/* CSS Document */
body {
	background-color: #33331a;
}
.container {
	color: white;
	background-color: #bbbb77;
	border: 1px solid #F4F4F4;
	text-align: center;
	padding: 0.2em;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}
#image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 500;
	height: 333;
}
.top {
	color: white;
	background-color: #bbbb77;
	text-align: center;
	border: 2px solid white;
	margin-bottom: 20px;
	margin-top: 0px;
}
.footer {
	color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 1px;
	background-color: #bbbb77;
	margin: 20px 0;
}
.topnav {
	background-color: #bbbb77;
	overflow: hidden;
	text-align: center;
	padding: 10px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 275px;
	border:thick solid white;
}
.topnav a:hover {
  background-color: #ddd;
  color: white;
}
.topnav a.image {
	background-color: #878745;
	color: white;
	padding: 5px;
	margin: 5px;
}
.topnav a.containers {
	background-color: #878745;
	color: white;
	padding: 5px;
	margin: 5px;
}
.topnav a.link {
	background-color: #878745;
	color: white;
	padding: 5px;
	margin: 5px;
}
.topnav a.footer {
	background-color: #878745;
	color: white;
	padding: 5px;
	margin: 5px;
}
.link {
	color: white;
	background-color: #bbbb77;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 5px;
}